section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    gap: 1rem;
}
article{
    padding: 1rem;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    
}